<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="Author" content="Keith R. Bachand"/>
    <meta name="Keywords" content="Keith Bachand, Speed Digital"/>
    <meta name="Description" content="Speed Digital Mockup"/>
    <meta charset="utf-8">


<!-- Install JQuery version 1.7 or higher -->
<script type="text/javascript" src="jquery.min.js"></script>

<!-- Install Restive.JS -->
<script type="text/javascript" src="restive.min.js"></script>

<!-- Initialize Plugin -->
<script>
$( document ).ready(function() {
    $('body').restive({
        breakpoints: ['240', '320', '480', '640', '720', '960', '1280'],
        classes: ['rp_240', 'rp_320', 'rp_480', 'rp_640', 'rp_720', 'rp_960', 'rp_1280'],
        turbo_classes: 'is_mobile=mobi,is_phone=phone,is_tablet=tablet',
        force_dip: true
    });
});
</script>

      <title>Speed Digital Mockup</title>
</head>
<!--NAVBAR START-->
<div class="navlogo">
  <%= image_tag "sdlogo.png" %>
</div>
<div class="phone">
 <%= image_tag "phone.jpg" %>
 <h4 class="inline">800-900-9090</h4>
</div>

<div class="socialicons">
  <%= link_to image_tag("facebookicon.png"), "https://www.facebook.com/speeddigitalusa/" %>
  <%= link_to image_tag("youtubeicon.png"), "https://www.youtube.com/channel/UChY6iAIh9waeZ6EGAhuoAVQ" %>
  <%= link_to image_tag("twittericon.png"), "https://twitter.com/speeddigitalusa" %>
</div>

<nav>
   <ul>
       <li><a class="border" href="#">CONTACT</a>
         </li>
       <li><a class="border" href="#">ABOUT US</a>
         </li>
       <li><a class="border" href="#">CAR FINDER</a>
         </li>
       <li><a class="border" href="#">SERVICES</a>
         </li>
       <li><a class="border" href="#">INVENTORY</a>
         </li>
       <li><a class="border" href="#">HOME</a>
         </li>
   </ul>
</nav>

<!--NAVBAR END-->
<body>

<div class="welcome">
<div class="logo">
    <%= image_tag "mainimg.png" %>
</div>
<div class="mt">
  <h1>MODERN TECHNOLOGY</h1>
</div>
<div class="cp">
  <h3>FUELED BY CLASSIC PASSION</h3>
</div>
  <p class="doc">
    <%= link_to "LEARN MORE >", "https://speeddigital.com", target: "_blank" %>
  </p>
</div>

<h2>FEATURED</h2>
<hr></hr>
<div class="featuredtext">
  <p>WE PASSIONATELY PURSUE FINE AUTOMOBILES</P>
  <p>THAT EMBODY THE RICH HERITAGE THEY DESERVE.</p>
</div>

<div id="featuredcars">
  <%= image_tag ("featuredcar.png") %>
  <%= image_tag ("featuredcar.png") %>
  <%= image_tag ("featuredcar.png") %>
  <%= image_tag ("featuredcar.png") %>
<div style="clear:both"></div>
</div>

<div id="pricerectangle1">
  <%= image_tag ("pricerectangle.png") %>
</div>

<div id="price1">
  <p>$132,989</p>
</div>

<div id="pricerectangle2">
  <%= image_tag ("pricerectangle.png") %>
</div>

<div id="price2">
  <p>$132,989</p>
</div>

<div id="pricerectangle3">
  <%= image_tag ("pricerectangle.png") %>
</div>

<div id="price3">
  <p>$132,989</p>
</div>

<div id="pricerectangle4">
  <%= image_tag ("pricerectangle.png") %>
</div>

<div id="price4">
  <p>$132,989</p>
</div>

<div id="carname1">
  <p>2016 MERCEDES-BENZ</p>
<div>
<div id="carmodel1">
  <p>AMG GTS</p>
</div>

<div id="carname2">
  <p>2016 MERCEDES-BENZ</p>
<div>
<div id="carmodel2">
  <p>AMG GTS</p>
</div>

<div id="carname3">
  <p>2016 MERCEDES-BENZ</p>
<div>
<div id="carmodel3">
  <p>AMG GTS</p>
</div>

<div id="carname4">
  <p>2016 MERCEDES-BENZ</p>
<div>
<div id="carmodel4">
  <p>AMG GTS</p>
</div>
<hr id="smallbreak1"></hr>
<hr id="smallbreak2"></hr>
<hr id="smallbreak3"></hr>
<hr id="smallbreak4"></hr>
<hr id="fullwidthbreak"></hr>

<div class="turbocarimg">
<%= image_tag ("turbocar.png") %>
</div>

<div class="brand">
  <h1>THE BRAND</h1>
</div>
<div class="why">
  <h1>THE WHY</h1>
</div>
<div class="heart">
  <h1>THE HEART</h1>
</div>
<!--START FOOTER NAV-->
<div class="container">
<p>The richest affections are born out of meaningful experiences. The carpenter's son is drawn to the scent of sawdust. The child of a sailor longs to return to the salty sea air. But for us, it is the heady atmosphere of fresh motor oil, studying the curves of a Ferrari, or the symphony of 12 cylinders singing in harmony- all with the thirsty quest for the narrative behind them. These are the deep roots of ...</p>
</div>

<p class="learnmore2">
  <%= link_to "LEARN MORE >", "https://speeddigital.com", target: "_blank" %>
</p>

<hr id ="fullwidthbreak2"></hr>

<div class="container2"></div>

<div class="footerlogo">
<%= image_tag ("whitesdlogo.png") %>
</div>

<div class="footerphone">
 <%= image_tag "footerphone.png" %>
 </div>
 <div class="inline2">
   <h4>800-900-9090</h4>
</div>

<div class="footersocialicons">
  <%= link_to image_tag("facebookicon.png"), "https://www.facebook.com/speeddigitalusa/" %>
  <%= link_to image_tag("youtubeicon.png"), "https://www.youtube.com/channel/UChY6iAIh9waeZ6EGAhuoAVQ" %>
  <%= link_to image_tag("twittericon.png"), "https://twitter.com/speeddigitalusa" %>
</div>
<div class="vertical-line" />
<div id="theshop1">
  <h3>THE SHOP</h3>
</div>
<div class="footerlinks1">
<ul>
    <li><a class="shoplinks1" href="#">INVENTORY</a>
      </li>
      <span style="display:block;margin-bottom:5px;"></span>
    <li><a class="shoplinks1" href="#">SUPERCHARGERS</a>
      </li>
        <span style="display:block;margin-bottom:5px;"></span>
    <li><a class="shoplinks1" href="#">TURBOS</a>
      </li>
        <span style="display:block;margin-bottom:5px;"></span>
    <li><a class="shoplinks1" href="#">CARFINDER</a>
    </li>
</ul>
</div>

<div id="theshop2">
<h3>THE SHOP</h3>
</div>
<div class="footerlinks2">
<ul>
    <li><a class="shoplinks2" href="#">INVENTORY</a>
      </li>
      <span style="display:block;margin-bottom:5px;"></span>
    <li><a class="shoplinks2" href="#">SUPERCHARGERS</a>
      </li>
        <span style="display:block;margin-bottom:5px;"></span>
    <li><a class="shoplinks2" href="#">TURBOS</a>
      </li>
        <span style="display:block;margin-bottom:5px;"></span>
    <li><a class="shoplinks2" href="#">CARFINDER</a>
    </li>
</ul>

<div id="theshop3">
<h3>THE SHOP</h3>
</div>
<div class="footerlinks3">
<ul>
    <li><a class="shoplinks3" href="#">INVENTORY</a>
      </li>
      <span style="display:block;margin-bottom:5px;"></span>
    <li><a class="shoplinks3" href="#">SUPERCHARGERS</a>
      </li>
        <span style="display:block;margin-bottom:5px;"></span>
    <li><a class="shoplinks3" href="#">TURBOS</a>
      </li>
        <span style="display:block;margin-bottom:5px;"></span>
    <li><a class="shoplinks3" href="#">CARFINDER</a>
    </li>
</ul>
</div>
<!--END FOOTER NAV-->
<br>
<br>
